/**
 * ::: normalize.css
**/
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* --------------------------------------------------------------------------
   HTML5 display definitions
   -------------------------------------------------------------------------- */
/**
 * ::: remove bottom margins from ALL elements
**/
/* line 19, content/sass/_base.scss */
* {
  margin-bottom: 0 !important;
}

/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 38, content/sass/_base.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 48, content/sass/_base.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 57, content/sass/_base.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 66, content/sass/_base.scss */
[hidden] {
  display: none;
}

/* --------------------------------------------------------------------------
   Base
   -------------------------------------------------------------------------- */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 80, content/sass/_base.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 90, content/sass/_base.scss */
body {
  margin: 0;
}

/* --------------------------------------------------------------------------
   Links
   -------------------------------------------------------------------------- */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 102, content/sass/_base.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 111, content/sass/_base.scss */
a:active,
a:hover {
  outline: 0;
}

/* --------------------------------------------------------------------------
   Typography
   -------------------------------------------------------------------------- */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 124, content/sass/_base.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 133, content/sass/_base.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 142, content/sass/_base.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 150, content/sass/_base.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 158, content/sass/_base.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 168, content/sass/_base.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 180, content/sass/_base.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 189, content/sass/_base.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 197, content/sass/_base.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 205, content/sass/_base.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 214, content/sass/_base.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 221, content/sass/_base.scss */
sup {
  top: -0.5em;
}

/* line 225, content/sass/_base.scss */
sub {
  bottom: -0.25em;
}

/* --------------------------------------------------------------------------
   Embedded content
   -------------------------------------------------------------------------- */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 237, content/sass/_base.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 245, content/sass/_base.scss */
svg:not(:root) {
  overflow: hidden;
}

/* --------------------------------------------------------------------------
   Figures
   -------------------------------------------------------------------------- */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 257, content/sass/_base.scss */
figure {
  margin: 0;
}

/* --------------------------------------------------------------------------
   Forms
   -------------------------------------------------------------------------- */
/**
 * Define consistent border, margin, and padding.
 */
/* line 269, content/sass/_base.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 280, content/sass/_base.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 294, content/sass/_base.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 306, content/sass/_base.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 318, content/sass/_base.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 333, content/sass/_base.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 343, content/sass/_base.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 353, content/sass/_base.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 364, content/sass/_base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 377, content/sass/_base.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 386, content/sass/_base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 396, content/sass/_base.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* --------------------------------------------------------------------------
	Tables
   -------------------------------------------------------------------------- */
/**
 * Remove most spacing between table cells.
 */
/* line 409, content/sass/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 448, content/sass/_base.scss */
.container--list__main-navigation li, .list__article-list {
  list-style-type: none;
  padding-left: 0;
}

/*****************************************************************************************\
			$$ HELPERS
\*****************************************************************************************/
/*****************************************************************************************\
			$$ UI
\*****************************************************************************************/
/* line 9, content/sass/_ui.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0;
}

/* line 17, content/sass/_ui.scss */
html {
  font-size: 62.5%;
}

/* line 22, content/sass/_ui.scss */
body {
  margin: 0 auto;
  background: #fcfaf9;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* line 31, content/sass/_ui.scss */
h1 {
  margin: 48px 0 0;
  margin: 3.6rem 0 0;
  line-height: 2;
  font-size: 42px;
}

/* line 39, content/sass/_ui.scss */
h2 {
  margin: 36px 0 0;
  margin: 3.6rem 0 0;
  line-height: 1.2;
  font-size: 30px;
}

/* line 48, content/sass/_ui.scss */
h3 {
  margin: 15px 0 0;
  margin: 1.5rem 0 0;
  line-height: 1.5;
  font-size: 22px;
}

/* line 56, content/sass/_ui.scss */
h4 {
  margin: .3rem 0 0;
  line-height: 1.2;
  font-size: 18px;
}

/* line 63, content/sass/_ui.scss */
h5 {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 70, content/sass/_ui.scss */
h6 {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 77, content/sass/_ui.scss */
h1 + p, h2 + p {
  color: #888685;
}

/* line 82, content/sass/_ui.scss */
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 0;
}

/* line 87, content/sass/_ui.scss */
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: subpixel-antialiased;
  cursor: text;
  color: #575057;
}

/* line 96, content/sass/_ui.scss */
p {
  color: #3d373d;
}

/* line 101, content/sass/_ui.scss */
p, pre, blockquote {
  margin: 2.4rem 0 0;
}

/* you shall not pass */
/* line 111, content/sass/_ui.scss */
p, textarea, table, td, th, code, pre, samp {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

/* line 121, content/sass/_ui.scss */
a {
  text-decoration: none;
  color: #5e495e;
}

/* line 128, content/sass/_ui.scss */
a:link,
a:visited {
  color: #805c92;
}

/* line 133, content/sass/_ui.scss */
a:hover {
  color: #896689;
  text-decoration: underline;
}

/* line 139, content/sass/_ui.scss */
ul, ol {
  margin-top: 2.4rem;
}

/* line 144, content/sass/_ui.scss */
li:first-child {
  margin-top: 0;
}

/* line 149, content/sass/_ui.scss */
.size-chuck-norris {
  font-size: 184px;
  font-size: 18.4rem;
}

/* line 154, content/sass/_ui.scss */
.size-god {
  font-size: 112px;
  font-size: 11.2rem;
}

/* line 159, content/sass/_ui.scss */
.size-hero {
  font-size: 72px;
  font-size: 7.2rem;
}

/* line 164, content/sass/_ui.scss */
h1, .size-xxl {
  margin: 24px 0 0;
  margin: 2.4rem 0 0;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 2;
}

/* line 172, content/sass/_ui.scss */
h2, .size-xl {
  margin: 24px 0 0;
  margin: 2.4rem 0 0;
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.6;
}

/* line 180, content/sass/_ui.scss */
h3, .size-l, .item--list__article .title__article {
  margin: 24px 0 0;
  margin: 2.4rem 0 0;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2;
}

/* line 188, content/sass/_ui.scss */
h4, h5, h6, .size-m {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* line 194, content/sass/_ui.scss */
small, .size-s, .item--list__article .title__article + aside {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 2;
}

/* line 200, content/sass/_ui.scss */
.size-xs {
  font-size: 10px;
  font-size: 1rem;
  line-height: 2.4;
}

/* line 206, content/sass/_ui.scss */
.size-xxs {
  font-size: 6px;
  font-size: .6rem;
  line-height: 4;
}

/**
 * ::: helpers
**/
/* blocks that must contain floats */
/* line 219, content/sass/_ui.scss */
.clearfix:after, .page-header:after,
.line:after,
.mod:after {
  content: "";
  display: table;
  clear: both;
}

/* line 226, content/sass/_ui.scss */
.left, .logo {
  float: left;
}

/* line 231, content/sass/_ui.scss */
.right, .temp-nav {
  float: right;
}

/* line 236, content/sass/_ui.scss */
.txtright, .container--list__main-navigation, .read-more__article {
  text-align: right;
}

@media (min-width: 1152px) {
  /* line 3, content/sass/_medias.scss */
  html {
    font-size: 78.1%;
  }
}
/**
 *  ::: medium_css_comment
**/
/*****************************************************************************************\
			$$ UGLY
\*****************************************************************************************/
/**
 * ::: Test & Dev
**/
/*
Name: Debug
URL: http://github.com/Darklg/CSSCommon
Version: 0.1
License: MIT
*/
/* ----------------------------------------------------------
  Missing or bad properties
---------------------------------------------------------- */
/* Missing or invalid href
-------------------------- */
/* line 19, content/sass/_debug.scss */
a[href=""],
a[href^="javascript"],
a:not([href]) {
  padding: 2px !important;
  outline: 3px dashed #fd40ff !important;
}

/* Inside form button lacking type
-------------------------- */
/* line 27, content/sass/_debug.scss */
form button:not([type]) {
  font-size: 200% !important;
  outline: 3px dashed #fd40ff !important;
}

/* Images
-------------------------- */
/* line 35, content/sass/_debug.scss */
img:not([alt]) {
  outline: 3px dashed #fd40ff !important;
}

/* ----------------------------------------------------------
  Invalid HTML
---------------------------------------------------------- */
/* Invalid child
-------------------------- */
/* line 48, content/sass/_debug.scss */
form > input,
tbody > :not(tr),
ul > :not(li) {
  border: 3px dashed #fd40ff !important;
}

/* ----------------------------------------------------------
  Empty elements
---------------------------------------------------------- */
/* line 59, content/sass/_debug.scss */
section:empty,
form:empty,
span:empty,
div:empty {
  display: block !important;
  position: static !important;
  padding: 10px !important;
  background-color: yellow !important;
}

/*
Thanks to :
* http://www.smashingmagazine.com/2013/08/20/semantic-css-with-intelligent-selectors/
* http://meyerweb.com/eric/tools/css/diagnostics/
*/
/* Ajouter des lignes sur le fond pour le rythme vertical */
/* line 15, content/sass/_ugly.scss */
body {
  background-size: 100% 24px;
}

/* line 23, content/sass/_ugly.scss */
.debug {
  display: block;
  border: 3px solid #00ffee;
}

/* line 29, content/sass/_ugly.scss */
.inblock, .main-navigation .nav-item, .alternative-navigation, .logo, .main-navigation, .picto, .motto, .picto a, .temp-nav a, .container--list__main-navigation li, .item--media__article img {
  display: inline-block;
  vertical-align: top;
}

/* line 35, content/sass/_ugly.scss */
.main-navigation .nav-item {
  margin: 0 1rem;
}

/* line 46, content/sass/_ugly.scss */
code {
  display: inline-block;
  vertical-align: baseline;
  height: 24px;
  padding: 0 3px;
  background-color: #edecec;
  border: 1px solid #d4d3d2;
  border-radius: 3px;
}

/* line 57, content/sass/_ugly.scss */
.page-header {
  width: 100%;
  padding: 0 2.4rem;
  border-bottom: 1px solid #fcfaf9;
  color: #575057;
  box-shadow: none;
  -webkit-transition: box-shadow 1.2s linear;
  -webkit-transition-delay: 0.4s;
  -moz-transition: box-shadow 1.2s linear 0.4s;
  -o-transition: box-shadow 1.2s linear 0.4s;
  transition: box-shadow 1.2s linear 0.4s;
}
/* line 66, content/sass/_ugly.scss */
.page-header:hover {
  border-bottom: 1px solid #f2f2f1;
  box-shadow: #e3e2e2 0 -30px 60px 15px;
  -webkit-transition: box-shadow 0.6s linear, border-bottom 0.6s linear;
  -webkit-transition-delay: 0.2s, 0.4s;
  -moz-transition: box-shadow 0.6s linear 0.2s, border-bottom 0.6s linear 0.4s;
  -o-transition: box-shadow 0.6s linear 0.2s, border-bottom 0.6s linear 0.4s;
  transition: box-shadow 0.6s linear 0.2s, border-bottom 0.6s linear 0.4s;
}
/* line 72, content/sass/_ugly.scss */
.page-header a {
  color: #575057;
}
/* line 75, content/sass/_ugly.scss */
.page-header a:hover, .page-header a:visited {
  color: #575057;
}
/* line 79, content/sass/_ugly.scss */
.page-header a:hover, .page-header a:focus {
  text-decoration: none;
}

/* line 92, content/sass/_ugly.scss */
.picto {
  position: relative;
  width: 40px;
  width: 4rem;
  -webkit-transition: width 0.1s linear;
  -webkit-transition-delay: 1s;
  -moz-transition: width 0.1s linear 1s;
  -o-transition: width 0.1s linear 1s;
  transition: width 0.1s linear 1s;
  height: 40px;
  margin-top: 4px;
  background: #888685 url("/_assets/img/picto-contre-forme-42px.png") left top no-repeat;
}
/* line 101, content/sass/_ugly.scss */
.picto a {
  position: absolute;
  left: -196px;
  padding-left: 48px;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, left 0.4s linear;
  -webkit-transition-delay: 0.3s, 0.6s;
  -moz-transition: opacity 0.5s linear 0.3s, left 0.4s linear 0.6s;
  -o-transition: opacity 0.5s linear 0.3s, left 0.4s linear 0.6s;
  transition: opacity 0.5s linear 0.3s, left 0.4s linear 0.6s;
}
/* line 110, content/sass/_ugly.scss */
.picto:hover {
  width: 288px;
  width: 28.8rem;
  -webkit-transition: width 0.1s linear;
  -webkit-transition-delay: 0.3s;
  -moz-transition: width 0.1s linear 0.3s;
  -o-transition: width 0.1s linear 0.3s;
  transition: width 0.1s linear 0.3s;
}
/* line 115, content/sass/_ugly.scss */
.picto:hover a {
  left: 0;
  opacity: 1;
  -webkit-transition: left 0.4s linear, opacity 0.4s linear;
  -webkit-transition-delay: 0.3s, 0.5s;
  -moz-transition: left 0.4s linear 0.3s, opacity 0.4s linear 0.5s;
  -o-transition: left 0.4s linear 0.3s, opacity 0.4s linear 0.5s;
  transition: left 0.4s linear 0.3s, opacity 0.4s linear 0.5s;
}

/* line 124, content/sass/_ugly.scss */
.motto {
  visibility: hidden;
  margin-top: 16px;
  margin-top: 1.6rem;
}

/* line 131, content/sass/_ugly.scss */
.page-footer, .page-content {
  width: 60rem;
  margin: 0 auto;
}

/* line 137, content/sass/_ugly.scss */
.page-footer {
  padding-top: 2.4rem;
  border-top: 1px solid #c4c3c3;
  margin-top: 4.8rem;
}

/* line 144, content/sass/_ugly.scss */
.temp-nav {
  position: relative;
}

/* line 154, content/sass/_ugly.scss */
.container--list__main-navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: 9.6rem;
  height: 4.8rem;
  -webkit-transition: height 0.4s cubic-bezier(0.78, 0.005, 0.165, 1.385);
  -webkit-transition-delay: 0.6s;
  -moz-transition: height 0.4s cubic-bezier(0.78, 0.005, 0.165, 1.385) 0.6s;
  -o-transition: height 0.4s cubic-bezier(0.78, 0.005, 0.165, 1.385) 0.6s;
  transition: height 0.4s cubic-bezier(0.78, 0.005, 0.165, 1.385) 0.6s;
  padding-left: 0;
  margin-top: 0;
}
/* line 166, content/sass/_ugly.scss */
.container--list__main-navigation li {
  position: absolute;
  top: 1.6rem;
  right: 0;
  height: 2.6rem;
  box-shadow: 0 0 0 #c4c3c3;
  opacity: 0;
  background-color: transparent;
  -webkit-transition: box-shadow 0.4s linear, opacity 0.4s linear, top 0.6s linear, background-color 0.4s linear;
  -webkit-transition-delay: 0.3s, 0.4s, 0.4s, 0.8s;
  -moz-transition: box-shadow 0.4s linear 0.3s, opacity 0.4s linear 0.4s, top 0.6s linear 0.4s, background-color 0.4s linear 0.8s;
  -o-transition: box-shadow 0.4s linear 0.3s, opacity 0.4s linear 0.4s, top 0.6s linear 0.4s, background-color 0.4s linear 0.8s;
  transition: box-shadow 0.4s linear 0.3s, opacity 0.4s linear 0.4s, top 0.6s linear 0.4s, background-color 0.4s linear 0.8s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 183, content/sass/_ugly.scss */
.container--list__main-navigation a {
  height: 2.6rem;
  padding: 0.2rem 0.8rem 0.6rem;
  display: inline-block;
  vertical-align: top;
}
/* line 189, content/sass/_ugly.scss */
.container--list__main-navigation a:hover, .container--list__main-navigation a:focus {
  background-color: #fbe9e5;
  -webkit-transition: background-color 0.4s linear;
  -webkit-transition-delay: 0.2s;
  -moz-transition: background-color 0.4s linear 0.2s;
  -o-transition: background-color 0.4s linear 0.2s;
  transition: background-color 0.4s linear 0.2s;
}
/* line 195, content/sass/_ugly.scss */
.container--list__main-navigation li:first-child {
  top: 1.6rem;
  opacity: 1;
  background-color: transparent;
  pointer-events: none;
  cursor: default;
}

/* line 205, content/sass/_ugly.scss */
.container--list__main-navigation:hover {
  height: 14rem;
  -webkit-transition: height 0.2s linear;
  -webkit-transition-delay: 0.1s;
  -moz-transition: height 0.2s linear 0.1s;
  -o-transition: height 0.2s linear 0.1s;
  transition: height 0.2s linear 0.1s;
}
/* line 208, content/sass/_ugly.scss */
.container--list__main-navigation:hover li:first-child {
  top: 1.6rem;
}
/* line 209, content/sass/_ugly.scss */
.container--list__main-navigation:hover li:nth-child(2) {
  top: 4.8rem;
}
/* line 210, content/sass/_ugly.scss */
.container--list__main-navigation:hover li:nth-child(3) {
  top: 8rem;
}
/* line 211, content/sass/_ugly.scss */
.container--list__main-navigation:hover li:nth-child(4) {
  top: 11.2rem;
}
/* line 213, content/sass/_ugly.scss */
.container--list__main-navigation:hover li {
  opacity: 1;
  background-color: #fcfaf9;
  box-shadow: 0 0 0.5rem #c4c3c3;
  -webkit-transition: top 0.7s cubic-bezier(0.78, 0.005, 0.165, 1.385), opacity 0.6s linear, background-color 0.6s linear, box-shadow 0.2s linear;
  -webkit-transition-delay: 0.2s, 0.4s, 0.4s, 0.8s;
  -moz-transition: top 0.7s cubic-bezier(0.78, 0.005, 0.165, 1.385) 0.2s, opacity 0.6s linear 0.4s, background-color 0.6s linear 0.4s, box-shadow 0.2s linear 0.8s;
  -o-transition: top 0.7s cubic-bezier(0.78, 0.005, 0.165, 1.385) 0.2s, opacity 0.6s linear 0.4s, background-color 0.6s linear 0.4s, box-shadow 0.2s linear 0.8s;
  transition: top 0.7s cubic-bezier(0.78, 0.005, 0.165, 1.385) 0.2s, opacity 0.6s linear 0.4s, background-color 0.6s linear 0.4s, box-shadow 0.2s linear 0.8s;
}

/* line 222, content/sass/_ugly.scss */
.list__article-list {
  margin-top: 4.8rem;
}
/* line 226, content/sass/_ugly.scss */
.list__article-list p {
  margin-top: 0;
}

/* line 231, content/sass/_ugly.scss */
.item--list__article {
  padding-top: 23px;
  padding-top: 2.3rem;
}
/* line 235, content/sass/_ugly.scss */
.item--list__article .title__article {
  margin-top: 0;
}
/* line 240, content/sass/_ugly.scss */
.item--list__article .title__article + aside {
  color: #888685;
}

/* line 248, content/sass/_ugly.scss */
.item--list__article {
  border-top: 1px solid #edecec;
}

/* line 253, content/sass/_ugly.scss */
.item--list__article:first-child {
  border-top: none;
  padding-top: 24px;
  padding-top: 2.4rem;
}

/* line 265, content/sass/_ugly.scss */
.item--media__article {
  text-align: center;
  padding: 23px 0;
  margin-top: 2.4rem;
  border-radius: 3px;
  border: 1px solid #efefef;
  box-shadow: #f2f2f1 0 0 8px inset;
}
/* line 273, content/sass/_ugly.scss */
.item--media__article img {
  position: relative;
  background-color: #fcfaf9;
}

/* line 281, content/sass/_ugly.scss */
.page-title {
  color: #1f97c2;
}
