

/*****************************************************************************************\
			$$ UGLY
\*****************************************************************************************/

/**
 * ::: Test & Dev
**/

@import "debug";

/* Ajouter des lignes sur le fond pour le rythme vertical */
body
{
	// background-color: red;
	// background: -moz-repeating-linear-gradient( -90deg, #f9f9f9, #f9f9f9 23px, $test_debug 24px);
	// background: -webkit-repeating-linear-gradient( -90deg, #f9f9f9, #f9f9f9 23px, $test_debug 24px);
	background-size: 100% 24px;
}

.debug
{
	display: block;
	border: 3px solid $test_debug;
}

.inblock
{
	display: inline-block;
	vertical-align: top;
}

.main-navigation .nav-item
{
	@extend .inblock;
	margin: 0 1rem;
}

.alternative-navigation, .logo, .main-navigation, .picto, .motto
{
	@extend .inblock;
}

code
{
	display: inline-block;
	vertical-align: baseline;
	height: 24px;
	padding: 0 3px;
	background-color: lighten($grey, 40);
	border: 1px solid lighten($grey, 30);
	border-radius: 3px;
}

.page-header
{
	width: 100%;
	padding: 0 2.4rem;
	border-bottom: 1px solid $white;
	color: $htext;
	@extend .clearfix;
	box-shadow: none;
	@include single-transition( box-shadow, 1.2s, linear, 0.4s );
	&:hover
	{
		border-bottom: 1px solid lighten($lightest, 6);
		box-shadow: $lightest 0 -30px 60px 15px;
		@include transition( box-shadow 0.6s linear 0.2s , border-bottom 0.6s linear 0.4s );
	}
	a
	{
		color: $hnlink;
		&:hover, &:visited
		{
			color: $hnlink;
		}
		&:hover, &:focus
		{
			text-decoration: none;
		}
	}

}

.logo
{
	@extend .left;
}

.picto
{
	position: relative;
	width: 40px;
	width: 4rem;
	@include single-transition( width, 0.1s, linear, 1s );
	height: 40px;
	margin-top: 4px;
	background: $grey url('/_assets/img/picto-contre-forme-42px.png') left top no-repeat ;
	a
	{
		@extend .inblock;
		position: absolute;
		left: - 196px;
		padding-left: 48px;
		opacity: 0;
		@include transition( opacity 0.5s linear 0.3s , left 0.4s linear 0.6s );
	}
	&:hover
	{
		width: 288px;
		width: 28.8rem;
		@include single-transition( width, 0.1s, linear, 0.3s );
		a
		{
			left: 0;
			opacity: 1;
			@include transition( left 0.4s linear 0.3s , opacity 0.4s linear 0.5s );
		}
	}
}

.motto
{
	visibility: hidden;
	margin-top: 16px;
	margin-top: 1.6rem;
}

.page-footer, .page-content
{
	width: 60rem;
	margin: 0 auto;
}

.page-footer
{
	padding-top: 2.4rem;
	border-top: 1px solid $lighter;
	margin-top: 4.8rem;
}

.temp-nav
{
	@extend .right;
	position: relative;
	a
	{
		@extend .inblock;
	}
}

.container--list__main-navigation
{
	@extend .txtright;
	position: absolute;
	// z-index: 100;
	top: 0;
	right: 0;
	width: 9.6rem;
	height: 4.8rem;
	@include single-transition(height, 0.4s, cubic-bezier(0.780, 0.005, 0.165, 1.385), 0.6s);
	padding-left: 0;
	margin-top: 0;
	li
	{
		@extend %no-list;
		@extend .inblock;
		position: absolute;
		top: 1.6rem;
		right: 0;
		height: 2.6rem;
		//
		box-shadow: 0 0 0 $lighter;
		opacity: 0;
		background-color: transparent;
		@include transition( box-shadow 0.4s linear 0.3s , opacity 0.4s linear 0.4s , top 0.6s linear 0.4s , background-color 0.4s linear 0.8s );
		@include single-transition();
		@include single-transition();
		@include single-transition();
	}
	a
	{
		height: 2.6rem;
		padding: 0.2rem 0.8rem 0.6rem ;
		display: inline-block;
		vertical-align: top;
		&:hover, &:focus
		{
			background-color: $color-current-light;
			@include single-transition(background-color, 0.4s, linear, 0.2s);
		}
	}
	li:first-child
	{
		top: 1.6rem;
		opacity: 1;
		background-color: transparent;
		pointer-events: none;
		cursor: default;
	}
}

.container--list__main-navigation:hover
{
	height: 14rem;
	@include single-transition(height, 0.2s, linear, 0.1s);
	li:first-child { top: 1.6rem; }
	li:nth-child(2) { top: 4.8rem; }
	li:nth-child(3) { top: 8rem; }
	li:nth-child(4) { top: 11.2rem; }
	li
	{
		opacity: 1;
		background-color: $white;
		box-shadow: 0 0 0.5rem $lighter;
		@include transition(top 0.7s cubic-bezier(0.780, 0.005, 0.165, 1.385) 0.2s, opacity 0.6s linear 0.4s, background-color 0.6s linear 0.4s, box-shadow 0.2s linear 0.8s);
	}
}

.list__article-list
{
	@extend %no-list;
	margin-top: 4.8rem;
	p
	{
		margin-top: 0;
	}
}
.item--list__article
{
	padding-top: 23px;
	padding-top: 2.3rem;
	.title__article
	{
		@extend .size-l;
		margin-top: 0;
	}
	.title__article + aside
	{
		@extend .size-s;
		color: $grey;
	}
}


.item--list__article
{
	border-top: 1px solid lighten($lightest, 4);
}

.item--list__article:first-child
{
	border-top: none;
	padding-top: 24px;
	padding-top: 2.4rem;
}

.read-more__article
{
	@extend .txtright;
}

.item--media__article
{
	text-align: center;
	padding: 23px 0;
	margin-top: 2.4rem;
	border-radius: 3px;
	border: 1px solid lighten($lightest, 5);
	box-shadow: lighten($lightest, 6) 0 0 8px inset;
	img
	{
		@extend .inblock;
		position: relative;
		background-color: $white;
	}
}

.page-title
{
	color: $color-brand-main;
}