



/*****************************************************************************************\
			$$ UI
\*****************************************************************************************/
*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0;
}

html
{
	font-size: 62.5%;
}

body
{
	margin: 0 auto;
	background: $white;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
}

h1
{
	margin: 48px 0 0;
	margin: 3.6rem 0 0;
	line-height:2;
	font-size: 42px;
}

h2
{
	margin: 36px 0 0;
	margin: 3.6rem 0 0;
	line-height:1.2;
	// border-bottom: 1px solid #ddd;
	font-size: 30px;
}

h3
{
	margin: 15px 0 0;
	margin: 1.5rem 0 0;
	line-height:1.5;
	font-size: 22px;
}

h4
{
	margin: .3rem 0 0;
	line-height: 1.2;
	font-size: 18px;
}

h5
{
	margin: 0;
	font-size: 16px;
	font-size: 1.6rem;
}

h6
{
	margin: 0;
	font-size: 16px;
	font-size: 1.6rem;
}

h1 + p, h2 + p
{
	color: $grey;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p
{
	margin-top: 0;
}

h1,h2,h3,h4,h5,h6
{
	padding: 0;
	font-weight: bold;
	-webkit-font-smoothing: subpixel-antialiased;
	cursor: text;
	color: $htext;
}

p
{
	color: $ptext;
}

p, pre, blockquote
{
	margin: 2.4rem 0 0;
}

p + p
{
	// text-indent: 1.4rem;
}

/* you shall not pass */
p, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
	     -o-hyphens: auto;
	        hyphens: auto;
}

a
{
	text-decoration: none;
	color: $link;
}

a:link,
a:visited
{
	color: $vlink;
}

a:hover
{
	color: $hlink;
	text-decoration: underline;
}

ul, ol
{
	margin-top: 2.4rem;
}

li:first-child
{
	margin-top: 0;
}

.size-chuck-norris
{
	font-size: 184px;
	font-size: 18.4rem;
}
.size-god
{
	font-size: 112px;
	font-size: 11.2rem;
}
.size-hero
{
	font-size: 72px;
	font-size: 7.2rem;
}
h1, .size-xxl
{
	margin: 24px 0 0;
	margin: 2.4rem 0 0;
	font-size: 48px;
	font-size: 4.8rem;
	line-height:2;
}
h2, .size-xl
{
	margin: 24px 0 0;
	margin: 2.4rem 0 0;
	font-size: 30px;
	font-size: 3rem;
	line-height:1.6;
}
h3, .size-l
{
	margin: 24px 0 0;
	margin: 2.4rem 0 0;
	font-size: 20px;
	font-size: 2rem;
	line-height:1.2;
}
h4, h5, h6, .size-m
{
	font-size: 16px;
	font-size: 1.6rem;
	line-height:1.5;
}
small, .size-s
{
	font-size: 12px;
	font-size: 1.2rem;
	line-height:2;
}
.size-xs
{
	font-size: 10px;
	font-size: 1rem;
	line-height:2.4;
}
.size-xxs
{
	font-size: 6px;
	font-size: .6rem;
	line-height:4;
}


/**
 * ::: helpers
**/
/* blocks that must contain floats */
.clearfix:after,
.line:after,
.mod:after {
	content: "";
	display: table;
	clear: both;
}

.left
{
	float: left;
}

.right
{
	float: right;
}

.txtright
{
	text-align: right;
}