<ul class="list__article-list">
	<% (@site.sorted_articles).each do |post| %>
		<li class="item--list__article">
			<div>
				<h1 class="title__article">
					<%= link_to(post[:title], post.path) %>
				</h1>
				<aside>
					<%= get_pretty_date(post[:created_at]) %>
				</aside>
			</div>
		</li>
	<% end %>
</ul>