<ul class="list__article-list">
	<% (@site.sorted_articles[0..15]).each do |post| %>
		<li class="item--list__article">
			<div>
				<h1 class="title__article">
					<%= link_to(post[:title], post.path) %>
				</h1>
				<aside>
					Le <%= get_pretty_date(post[:created_at]) %>
				</aside>
				<%= get_post_start(post) %>
				<p class="read-more__article">
					<%= link_to("Lire la suite >", post.path) %>
				</p>
			</div>
		</li>
	<% end %>
</ul>