<% render 'default' do %>
	<section>
		<article class="container__article">
			<h1 class="title__article"><%= @item[:title] %></h1>
			<aside>
				<em>
					Publié le <%= get_pretty_date(@item[:created_at]) %>
				</em>
				<% if @item[:modified_at] != @item[:created_at] %>
					<em>, Dernière modification : <%= get_pretty_date(@item[:modified_at]) %></em>
				<% end %>
			</aside>
			<%= yield %>
			<p class="txtcenter">
				<%= previous_link %> | <%= next_link %>
			</p>
		</article>
	</section>
<% end %>