<!doctype html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title><%= (@item[:title].to_s + ' | ') if @item[:title] %><%= @site.config[:meta_data][:title] %></title>
	<link rel="stylesheet" type="text/css" media="screen"  href="/style.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic">
	<meta name="generator" content="nanoc <%= Nanoc::VERSION %>">
</head>
<body>
	<%= render 'header' %>
	<div class="page-content">

		<% if @item[:kind] == 'page' %>
			<% current_title = @item[:title] %>
				<section>
					<% if item[:title] == "Accueil" %>
					<h1 class="size-hero page-title">Journal</h1>
					<% else %>
					<h1 class="size-hero page-title"><%= @item[:title] %></h1>
					<% end %>

					<% if current_title == "Accueil" %>
						<%= yield %>
						<%= render 'articles-list' %>
					<% end %>
					<% if current_title == "Archives" %>
						<%= yield %>
						<%= render 'archives' %>
					<% end %>

					<%= render 'sidebar' %>
				</section>
		<% else %>
			<%= yield %>
		<% end  %>
	</div>
	<%= render 'footer' %>
</body>
</html>