<footer class="page-footer">
	<section class="site-tools">
		<div class="alternative-navigation">
			<h1 class="size-m">Aide</h1>
			<ul class="nav-container">
				<li>
					<a href="#">Plan du site</a>
				</li>
				<li>
					<a href="#">Mentions légales</a>
				</li>
				<li>
					<a href="#">FAQ</a>
				</li>
			</ul>
		</div>
		<nav class="alternative-navigation">
			<h1 class="size-m">Navigation</h1>
			<ul class="nav-container">
				<li class="nav-item">
					<a href="#">Accueil</a>
				</li>
				<li class="nav-item">
					<a href="#">Offre</a>
				</li>
				<li class="nav-item">
					<a href="#">Portfolio</a>
				</li>
				<li class="nav-item">
					<a href="#">Blog</a>
				</li>
				<li class="nav-item">
					<a href="#">Contact</a>
				</li>
			</ul>
		</nav>
	</section>
	<section class="site-related">
		<h1 class="size-s">Conception & réalisation : <span><a href="#"><%= @site.config[:meta_data][:author] %></a></span> - Retrouvez-moi sur <span><a href="https://twitter.com/vivien_garcia">Twitter</a> </span></h1>
	</section>
</footer>