<header class="page-header">
	<div class="logo">
		<h1 class="picto size-xl"><a href="/">Vivien Garcia</a></h1>
		<h2 class="motto size-l"><%= site.config[:meta_data][:site_description] %></h2>
	</div>
	<div class="temp-nav">
		<ul class="container--list__main-navigation">
			<li class="item--list__main-navigation">
				<a class="" href="/">Accueil</a>
			</li>
			<li class="item--list__main-navigation">
				<a class="" href="/archives/">Archives</a>
			</li>
		</ul>
	</div>
</header>