<li class="item--list__article">
	<a href="<%= item.path %>">
		<h1 class="title__article">
			<%= link_to(item[:title], item.path) %>
		</h1>
		<aside>
			<%= get_pretty_date(item[:created_at]) %>
		</aside>
	</a>
</li>