<aside class="sidebar">
	<h2 class="size-m">Mots-clés</h2>
	<ul>
		<li>
			<a href="http://nanoc.ws/docs/">Article 1</a>
		</li>
		<li>
			<a href="http://nanoc.ws/docs/">Article 2</a>
		</li>
		<li>
			<a href="http://nanoc.ws/docs/">Article 3</a>
		</li>
		<li>
			<a href="http://nanoc.ws/docs/">Article 4</a>
		</li>
		<li>
			<a href="http://nanoc.ws/docs/">Article 5</a>
		</li>
	</ul>
	<h2 class="size-m">Archives</h2>
	<ul>
		<li>
			<a href="http://nanoc.ws/docs/">Catégories</a>
		</li>
		<li>
			<a href="http://nanoc.ws/docs/">Mots-clés</a>
		</li>
	</ul>
</aside>